{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
<!-- Content -->
<div id="content"> 
  
  <!--======= PAGES INNER =========-->
  <section class="chart-page padding-top-100 padding-bottom-100">
    <div class="container"> 
      
      <!-- Payments Steps -->
      <div class="shopping-cart"> 
        
        <!-- SHOPPING INFORMATION -->
        <div class="cart-ship-info register">
          <div class="row"> 
            
            <!-- RESET PASSWORD -->
            <div class="col-sm-12">
              <h6>RESET PASSWORD</h6>
              <p>Enter your email below, and we will send you link for resetting your password.</p>
              <form method="post">
                {% csrf_token %}
                <ul class="row">
                  <li class="col-md-6" style="position: relative; z-index:9999999999;">
                      {{ password_reset_form | crispy }}
                  </li>

                  <!-- SEND EMAIL BUTTON -->
                  <li class="col-md-6">   
                    <button type="submit" class="btn">SEND ME EMAIL</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- About -->
  <section class="small-about padding-top-150 padding-bottom-150">
    <div class="container"> 
      
      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>about PAVSHOP</h4>
        <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
          eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
      </div>
      
      <!-- Social Icons -->
      <ul class="social_icons">
        <li><a href="#."><i class="icon-social-facebook"></i></a></li>
        <li><a href="#."><i class="icon-social-twitter"></i></a></li>
        <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
        <li><a href="#."><i class="icon-social-youtube"></i></a></li>
        <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
      </ul>
    </div>
  </section>
  
  {% endblock %}
