{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
<!-- Content -->
<div id="content"> 
  
  <!--======= PAGES INNER =========-->
  <section class="chart-page padding-top-100 padding-bottom-100">
    <div class="container"> 
      
      <!-- Payments Steps -->
      <div class="shopping-cart"> 
        
        <!-- SHOPPING INFORMATION -->
        <div class="cart-ship-info register">
          <div class="row"> 
            
            <!-- RESET PASSWORD DONE -->
            <div class="col-sm-12">
              <h6>CHECK YOUR INBOX</h6>
              <p>We sent you an email with the reset password link. It may take a few minutes to arrive.</p>
              <p> If you didn't get any email, then go back to <a href="password_reset">Password Reset</a> page and resend your email.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- About -->
  <section class="small-about padding-top-150 padding-bottom-150">
    <div class="container"> 
      
      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>about PAVSHOP</h4>
        <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
          eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
      </div>
      
      <!-- Social Icons -->
      <ul class="social_icons">
        <li><a href="#."><i class="icon-social-facebook"></i></a></li>
        <li><a href="#."><i class="icon-social-twitter"></i></a></li>
        <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
        <li><a href="#."><i class="icon-social-youtube"></i></a></li>
        <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
      </ul>
    </div>
  </section>
  
  {% endblock %}
