<!DOCTYPE html>
<html lang="en">
  
  {% load static %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="M_Adnan" />
    <title>{% block title %} {{ title }} {% endblock %}</title>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'rs-plugin/css/settings.css' %}"
      media="screen"
    />

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- FontAwesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link
      href="{% static 'css/font-awesome.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

    <!-- JavaScripts -->
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- Online Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900"
      rel="stylesheet"
      type="text/css"
    />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      <script type="text/javascript">
        var user = '{{ request.user }}';
        var userId = '{{ request.user.id }}'
        var cartItemsCount = "{{ cart_items }}";
        var cartItemUrl = "http://127.0.0.1:8000/api/cart/cart-item/";
        
        function getToken(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
        var csrftoken = getToken('csrftoken');
    
        function getCookie(name) {
          // Split cookie string and get all individual name=value pairs in an array
          var cookieArr = document.cookie.split(";");
  
          // Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++) {
              var cookiePair = cookieArr[i].split("=");
  
              /* Removing whitespace at the beginning of the cookie name
              and compare it with the given string */
              if(name == cookiePair[0].trim()) {
                  // Decode the cookie value and return
                  return decodeURIComponent(cookiePair[1]);
              }
          }
  
          // Return null if not found
          return null;
        }
        var cart = JSON.parse(getCookie('cart'))
    
        if (cart == undefined){
          cart = {}
          console.log('Cart Created!', cart)
          document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }

      </script> 

    <!-- Jquery Cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% block css_files %} {% endblock %}
  </head>
  <body>
    <div id="wrap">
      <!-- LOADER -->
      <div id="loader">
        <div class="position-center-center">
          <div class="ldr"></div>
        </div>
      </div>
      <!-- header -->
      <header>
        <div class="sticky">
          <div class="container">
            <!-- Logo -->
            <div class="logo">
              <a href="{% url 'core:home' %}"
                ><img
                  class="img-responsive"
                  src="{% static 'images/logo.png' %}"
                  alt=""
              /></a>
            </div>
            <nav class="navbar ownmenu">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#nav-open-btn"
                  aria-expanded="false"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"><i class="fa fa-navicon"></i></span>
                </button>
              </div>

              <!-- NAV -->
              <div class="collapse navbar-collapse" id="nav-open-btn">
                <ul class="nav">
                  <li class="dropdown {% if title == 'Home' %}active{% endif %} ">
                    <a href="{% url 'core:home' %}">Home</a>
                  </li>

                  <li class="{% if title == 'About' %}active{% endif %}"><a href="{% url 'core:about' %}">{% trans "" %}About </a></li>
                  <li class="{% if title == 'Blog List' or title == 'Blog Detail' %}active{% endif %}"><a href="{% url 'blogs:blogs' %}">{% trans "" %}Blog </a></li>

                  <!-- MEGA MENU -->
                  <li class="dropdown megamenu {% if title == 'Product List' or title == 'Product Detail' %}active{% endif %}">
                    <a href="{% url 'products:products' %}" class="dropdown-toggle" data-toggle="dropdown"
                      >store</a
                    >
                    <div class="dropdown-menu">
                      <div class="row">
                        <!-- Shop Pages -->
                        <div class="col-md-3">
                          <h6>{% trans "Shop Pages" %}</h6>
                          <ul>
                            <li class="{% if title == 'Product List' %}active{% endif %}"><a href="{% url 'products:products' %}">Shop </a></li>
                            <li>
                              {% comment %} <a href="{% url "product-detail" %}"
                                >Product Detail 01</a
                              > {% endcomment %}
                            </li>
                            <li>
                              {% comment %} <a href="{% url "product-detail" %}"
                                >Product Detail 02</a
                              > {% endcomment %}
                            </li>
                            <li>
                              <a href="{% url "carts:shopping-cart" %}">{% trans "Shopping Cart" %}</a>
                            </li>
                            <li><a href="{% url "checkout" %}">{% trans "Checkout" %}</a></li>
                          </ul>
                        </div>

                        <!-- Top Rate Products -->
                        <div class="col-md-4">
                          <h6>TOp Rate Products</h6>
                          <div class="top-rated">
                            <ul>
                              <li>
                                <div class="media-left">
                                  <div class="cart-img">
                                    <a href="#">
                                      <img
                                        class="media-object img-responsive"
                                        src="{% static 'images/cart-img-1.jpg' %}"
                                        alt="..."
                                      />
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="media-heading">WOOD CHAIR</h6>
                                  <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <span class="price">129.00 USD</span>
                                </div>
                              </li>
                              <li>
                                <div class="media-left">
                                  <div class="cart-img">
                                    <a href="#">
                                      <img
                                        class="media-object img-responsive"
                                        src="{% static 'images/cart-img-2.jpg' %}"
                                        alt="..."
                                      />
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="media-heading">STOOL</h6>
                                  <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <span class="price">129.00 USD</span>
                                </div>
                              </li>
                              <li>
                                <div class="media-left">
                                  <div class="cart-img">
                                    <a href="#">
                                      <img
                                        class="media-object img-responsive"
                                        src="{% static 'images/cart-img-3.jpg' %}"
                                        alt="..."
                                      />
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <h6 class="media-heading">WOOD SPOON</h6>
                                  <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <span class="price">129.00 USD</span>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- New Arrival -->
                        <div class="col-md-5">
                          <h5>
                            {% trans "NEW ARRIVAL 2016" %} <span>({% trans "Best Collection" %})</span>
                          </h5>
                          <img
                            class="nav-img"
                            src="{% static 'images/nav-img.png' %}"
                            alt=""
                          />
                          <p>
                            Lorem ipsum dolor sit amet,<br />
                            consectetur adipiscing elit. <br />
                            Donec faucibus maximus<br />
                            vehicula.
                          </p>
                          <a href="{% url 'products:products' %}" class="btn btn-small btn-round"
                            >SHOP NOW</a
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="{% if title == 'Contact' %}active{% endif %}"><a href="{% url 'core:contact' %}"> {% trans "contact" %}</a></li>
                </ul>
              </div>

              <!-- Nav Right -->
              <div class="nav-right">
                <ul class="navbar-right">
                  <!-- USER INFO -->
                  {% if username %}
                  <li class="dropdown user-acc">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      ><i class="icon-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                      {% comment %} {% if user.is_authenticated %} {% endcomment %}
                      <li>
                        <h6>{% trans "HELLO!" %} {{ username }}</h6>
                      </li>
                      <li><a href="{% url 'carts:shopping-cart' %}">{% trans "MY CART" %}</a></li>
                      <li><a href="{% url 'users:profile' %}">{% trans "ACCOUNT INFO" %}</a></li>
                      <li><a href="{% url 'users:logout_user' %}" id="logoutBtn">{% trans "LOG OUT" %}</a></li>
                    </ul>
                  </li>

                  {% else %}
                    <li style="margin-top: -1px;" class="{% if title == 'Login' %}active{% endif %}">
                      <a href="{% url 'users:login' %}">{% trans "LOGIN"|truncatechars:5 %}</a>
                    </li>
                    
                    <li style="margin-top: -1px;" class="{% if title == 'Register' %}active{% endif %}">
                      <a href="{% url 'users:register' %}">{% trans "SIGNUP"|truncatechars:7 %}</a>
                    </li>
                  {% endif %}

                  <!-- USER BASKET -->
                  {% if request.user.is_authenticated %}
                    <li class="dropdown user-basket">
                      <span class="basket-product-count">
                        
                      </span>
                      <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="true"
                        ><i class="icon-basket-loaded"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <ul class="cart-items">

                        </ul>
                        {% comment %} {% for item in items %}
                          <li>
                            <div class="media-left">
                              <div class="cart-img">
                                <a href="#">
                                  <img
                                    class="media-object img-responsive"
                                    src="{{ item.product.main_image.url }}"
                                    alt="..."
                                  />
                                </a>
                              </div>
                            </div>
                            <div class="media-body">
                              <h6 class="media-heading">{{ item.product.product_name }}</h6>
                              <span class="price">{{ item.product.price }} USD</span>
                              <span class="qty">QTY: {{ item.quantity }}</span>
                            </div>
                          </li>
                        {% endfor %} {% endcomment %}
                        <li>
                          <h5 class="text-center cart-price">SUBTOTAL: 0 USD</h5>
                        </li>
                        <li class="margin-0">
                          <div class="row">
                            <div class="col-xs-6">
                              <a href="{% url "carts:shopping-cart" %}" class="btn"
                                >{% trans "VIEW CART" %}</a
                              >
                            </div>
                            <div class="col-xs-6">
                              <a href="{% url "checkout" %}" class="btn">{% trans "CHECK OUT" %}</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  {% else %}
                    <li class="dropdown user-basket">
                      <span class="basket-product-count">
                        
                      </span>
                      <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="true"
                        ><i class="icon-basket-loaded"></i>
                      </a>
                      <ul class="dropdown-menu">
                        {% for item in items %}
                          <li class="cart-items">
                            <div class="media-left">
                              <div class="cart-img">
                                <a href="#">
                                  <img
                                    class="media-object img-responsive"
                                    src="{{ item.product.main_image.url }}"
                                    alt="..."
                                  />
                                </a>
                              </div>
                            </div>
                            <div class="media-body">
                              <h6 class="media-heading">{{ item.product.product_name }}</h6>
                              <span class="price">{{ item.product.price }} USD</span>
                              <span class="qty">QTY: {{ item.quantity }}</span>
                            </div>
                          </li>
                        {% endfor %}
                        <li>
                          <h5 class="text-center">SUBTOTAL: {{ cart_total }} USD</h5>
                        </li>
                        <li class="margin-0">
                          <div class="row">
                            <div class="col-xs-6">
                              <a href="{% url "carts:shopping-cart" %}" class="btn"
                                >{% trans "VIEW CART" %}</a
                              >
                            </div>
                            <div class="col-xs-6">
                              <a href="{% url "checkout" %}" class="btn">{% trans "CHECK OUT" %}</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  {% endif %}

                  <!-- CHANGE LANGUAGE -->

                  {% comment %} <li class="dropdown language-items" style="max-width: 9px;">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="true"
                      >{% if language %} {{ language }} {% else %} EN {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                      <li class="lang-item"><a href="{% url 'set-language' 'az' %}">AZ</a></li>
                      <li class="lang-item"><a href="{% url 'set-language' 'en' %}">EN</a></li>
                      <li class="lang-item"><a href="{% url 'set-language' 'ru' %}">RU</a></li>
                    </ul>
                  </li> {% endcomment %}

                  <li class="dropdown">
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                      <input name="next" type="hidden" value="{{ request.path }}">
                      <select name="language" style="width: 150px">
                          {% get_current_language as LANGUAGE_CODE %}
                          {% get_available_languages as LANGUAGES %}
                          {% get_language_info_list for LANGUAGES as languages %}
                          {% for language in languages %}
                              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                  {{ language.name_local }} ({{ language.code }})
                              </option>
                          {% endfor %}
                      </select>
                      <input type="submit" value="Go">
                    </form>
                  </li>

                  <!-- SEARCH BAR -->
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="search-open"
                      ><i class="icon-magnifier"></i
                    ></a>
                    <div class="search-inside animated bounceInUp">
                      <i class="icon-close search-close"></i>
                      <div class="search-overlay"></div>
                      <div class="position-center-center">
                        <div class="search">
                          <form method="get" action="/products">
                            <input type="search" placeholder="Search Shop" name="search_product"/>
                            <button type="submit">
                              <i class="icon-check"></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{message}} 
          </div>
        {% endfor %}
      {% endif %}
      
      {% block content %} {% endblock %}


       <!-- News Letter -->
       <section class="news-letter padding-top-150 padding-bottom-150">
        <div class="container">
          <div class="heading light-head text-center margin-bottom-30">
            <h4>{% trans "NEWSLETTER" %}</h4>
            <span
              >Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac
              ante ipsumien lacus, eu posuere odi
            </span>
          </div>
          <div id="contact_message" class="success-msg">
            <i class="fa fa-paper-plane-o"></i>Thank You. Your Message has
            been Submitted
          </div>
          <div class="alert alert-danger error_message" style="display: none;" role="alert"></div>
          <form method="post" id="subscription_form">
            {% csrf_token %}
            {{ subscription_form.subscription_email }}
            <button type="submit">{% trans "SEND ME" %}</button>
          </form>
        </div>
      </section>
</div>

      <!--======= FOOTER =========-->
      <footer>
        <div class="container">
          <!-- Location -->
          <div class="col-md-3">
            <div class="about-footer">
              <img
                class="margin-bottom-30"
                src="{% static 'images/logo-foot.png' %}"
                alt=""
              />
              <p>
                <i class="icon-pointer"></i> {% trans "Street No. 12, Newyork 12," %} <br />
                MD - 123, USA.
              </p>
              <p><i class="icon-call-end"></i> 1.800.123.456789</p>
              <p><i class="icon-envelope"></i> info@PAVSHOP.com</p>
            </div>
          </div>

          <!-- HELPFUL LINKS -->
          <div class="col-md-3">
            <h6>{% trans "HELPFUL LINKS" %}</h6>
            <ul class="link">
              <li><a href="{% url "products:products" %}"> {% trans "Products" %}</a></li>
              <li><a href="#."> {% trans "Find a Store" %}</a></li>
              <li><a href="#."> {% trans "Features" %}</a></li>
              <li><a href="#."> {% trans "Privacy Policy" %}</a></li>
              <li><a href="{% url "blogs:blogs" %}"> Blog</a></li>
              <li><a href="#."> {% trans "Press Kit " %}</a></li>
            </ul>
          </div>

          <!-- SHOP -->
          <div class="col-md-3">
            <h6>{% trans "" %}SHOP</h6>
            <ul class="link">
              <li><a href="{% url "core:about" %}"> {% trans "About Us" %}</a></li>
              <li><a href="#."> {% trans "Career" %}</a></li>
              <li><a href="#."> {% trans "Shipping Methods" %}</a></li>
              <li><a href="{% url 'core:contact' %}"> {% trans "Contact" %}</a></li>
              <li><a href="#."> {% trans "Support" %}</a></li>
              <li><a href="#."> {% trans "Retailer" %}</a></li>
            </ul>
          </div>

          <!-- MY ACCOUNT -->
          <div class="col-md-3">
            <h6>{% trans "" %}MY ACCOUNT</h6>
            <ul class="link">
              <li><a href="{% url "users:login" %}"> {% trans "Login" %}</a></li>
              <li><a href="{% url 'users:profile' %}"> {% trans "My Account" %}</a></li>
              <li><a href="{% url 'carts:shopping-cart' %}"> {% trans "My Cart" %}</a></li>
              <li><a href="#."> {% trans "" %}Wishlist</a></li>
              <li><a href="{% url 'checkout' %}"> {% trans "Checkout" %}</a></li>
            </ul>
          </div>

          <!-- Rights -->
          <div class="rights">
            <p>© 2017 {% trans "PAVSHOP All right reserved." %}</p>
            <div class="scroll">
              <a href="#wrap" class="go-up"><i class="lnr lnr-arrow-up"></i></a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/own-menu.js' %}"></script>
    <script src="{% static 'js/jquery.lighter.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script
      type="text/javascript"
      src="{% static 'rs-plugin/js/jquery.tp.t.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'rs-plugin/js/jquery.tp.min.js' %}"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/showCartItems.js' %}"></script>

    <script>
      var basketProductCount = document.querySelector(".basket-product-count");
      let sumCookieQuantity = 0;

      if (cart != undefined){
        for (var i in cart) {
          sumCookieQuantity += cart[i].quantity;
        }
        basketProductCount.innerHTML = sumCookieQuantity;
      }
    </script>

    <script>
      $(document).on('submit', '#subscription_form  ', function(e){
        e.preventDefault();
        var csrf_token = $("input[name='csrfmiddlewaretoken']").val();
        var email = $("input[name='subscription_email']").val();
        let successMessage = $('.success-msg');
        let errorMessage = $('.error_message');
        console.log(email)
    
        $.ajax({
          type: "POST",
          url: "{% url 'core:home' %}",
          data: {
            'csrfmiddlewaretoken': csrf_token,
            'subscription_email': email,
          },
          success: function(response){
            successMessage.css("display", "block");
            errorMessage.css("display", "none");
            
          },
          error: function(response){
            errorMessage.css("display", "block");  
            successMessage.css("display", "none");
            errorMessage.html("");
            if (response["responseJSON"]["error"]){
              $.each(response["responseJSON"]["error"], function(key, value){
                errorMessage.prepend(
              `
                <p>${response["responseJSON"]["error"][key]}</p>
              `
            ); 
              })
            }
          }
        })
      })
    </script>
    {% block js_files %} {% endblock %}
  </body>
</html>
