<!-- News Letter -->
<section class="news-letter padding-top-150 padding-bottom-150">
  <div class="container">
    <div class="heading light-head text-center margin-bottom-30">
      <h4>{% trans "NEWSLETTER" %}</h4>
      <span
        >Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac
        ante ipsumien lacus, eu posuere odi
      </span>
    </div>
    <form>
      <input type="email" placeholder="Enter your email address" required />
      <button type="submit">{% trans "SEND ME" %}</button>
    </form>
  </div>
</section>
