<div class="password-info col-sm-5">
    <h5 class="profile-info-title">Password Update</h5>
    <form method="post" class='change-password_form'>
      {% csrf_token %}
      <ul class="row">
        <li class="col-sm-12">
          <label style="width: 100%;">
            {{ passwordForm.old_password.label }}
            <div style="margin-top:12px"></div>
            {{ passwordForm.old_password }}
          </label>
        </li>

        <li class="col-sm-12">
          <label style="width: 100%;">
            {{ passwordForm.new_password1.label }}
            <div style="margin-top:12px"></div>
            {{ passwordForm.new_password1 }}
          </label>
        </li>

        <li class="col-sm-12">
          <label style="width: 100%;">
            {{ passwordForm.new_password2.label }}
            <div style="margin-top:12px"></div>
            {{ passwordForm.new_password2 }}
          </label>
        </li>

        <li class="col-sm-12">
          <button type="submit" class="btn margin-top-30">
            Update Password
        </button>
        </li>
      </ul>
    </form>
  </div>