<!--======= SUB BANNER =========-->
<section class="sub-bnr" data-stellar-background-ratio="0.5" style="background: url({{ login_register_background.url }}) no-repeat;">
    <div class="position-center-center">
      <div class="container">
        <h4>PROFILE</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="#">PAGES</a></li>
          <li class="active">USER</li>
        </ol>
      </div>
    </div>
  </section>