{% extends 'base.html' %} {% load static %} {% block content %}
<!--======= SUB BANNER =========-->
<section
  class="sub-bnr"
  data-stellar-background-ratio="0.5"
  style="background: url({{ cart_background.image.url }}) no-repeat;"
>
  <div class="position-center-center">
    <div class="container">
      <h4>SHOPPING CART</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus
        maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam
      </p>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'products:products' %}">SHOP</a></li>
        <li class="active">SHOPPING CART</li>
      </ol>
    </div>
  </div>
</section>

<!-- Content -->
<div id="content">
  <!--======= PAGES INNER =========-->
  <section class="padding-top-100 padding-bottom-100 pages-in chart-page">
    <div class="container">
      <!-- Payments Steps -->
      <div class="shopping-cart text-center">
        <div class="cart-head">
          <ul class="row">
            <!-- PRODUCTS -->
            <li class="col-sm-2 text-left">
              <h6>PRODUCTS</h6>
            </li>
            <!-- NAME -->
            <li class="col-sm-4 text-left">
              <h6>NAME</h6>
            </li>
            <!-- PRICE -->
            <li class="col-sm-2">
              <h6>PRICE</h6>
            </li>
            <!-- QTY -->
            <li class="col-sm-1">
              <h6>QTY</h6>
            </li>

            <!-- TOTAL PRICE -->
            <li class="col-sm-2">
              <h6>TOTAL</h6>
            </li>
            <li class="col-sm-1"></li>
          </ul>
        </div>

        {% for item in items %}
          <!-- Cart Details -->
          <ul class="row cart-details">
            <li class="col-sm-6">
              <div class="media">
                <!-- Media Image -->
                <div class="media-left media-middle">
                  <a href="#." class="item-img">
                    <img
                      class="media-object"
                      src='{{ item.product.main_image.url }}'
                      alt=""
                    />
                  </a>
                </div>

                <!-- Item Name -->
                <div class="media-body">
                  <div class="position-center-center">
                    <h5>{{ item.product.product_name }}</h5>
                    <p>{{ item.product.brief_info }}</p>
                  </div>
                </div>
              </div>
            </li>

            <!-- PRICE -->
            <li class="col-sm-2">
              <div class="position-center-center">
                <span class="price"><small>$</small>{{ item.product.price }}</span>
              </div>
            </li>

            <!-- QTY -->
            <li class="col-sm-1">
              <div class="position-center-center">
                <div class="flex" style="display: flex; align-items: center">
                  <div class="product-quantity" style="margin-right: 10px">
                    {{ item.quantity }}
                  </div>
                  <div class="">
                    <div class="">
                      <a href="#.">
                        <i data-product="{{ item.product.id }}" data-action="add" class="fa-sharp fa-solid fa-angle-up update-basket"></i>
                      </a>
                    </div>
                    <div class="">
                      <a href="#.">
                        <i data-product="{{ item.product.id }}" data-action="remove" class="fa-sharp fa-solid fa-angle-down update-basket"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- TOTAL PRICE -->
            <li class="col-sm-2">
              <div class="position-center-center">
                <span class="price"><small>$</small>{{ item.get_total }}</span>
              </div>
            </li>

            <!-- REMOVE -->
            <li class="col-sm-1">
              <div class="position-center-center">
                <a href="#."
                  ><i
                    class="icon-close update-basket"
                    data-action="remove-all"
                    data-product="{{ item.product.id }}"
                  ></i
                ></a>
              </div>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </section>

  <!--======= PAGES INNER =========-->
  <section
    class="padding-top-100 padding-bottom-100 light-gray-bg shopping-cart small-cart"
  >
    <div class="container">
      <!-- SHOPPING INFORMATION -->
      <div class="cart-ship-info margin-top-0">
        <div class="row">
          <div class="col-sm-7">
            <h6>DISCOUNT CODE</h6>
            <form>
              <div id="discount-message" style="text-align: center; margin-bottom: 20px; border: 1px solid red; padding: 10px; display: none;">
                {% csrf_token %}
              </div>
              <input
                type="text"
                value=""
                placeholder="ENTER YOUR CODE IF YOU HAVE ONE"
                id="discount-input"
              />
              <button type="submit" class="btn btn-small btn-dark" id="apply-btn">
                APPLY CODE
              </button>
            </form>
            <div class="coupn-btn">
              <a href="{% url 'products:products' %}" class="btn">continue shopping</a>
              <button id="update-cart-discount" class="btn">update cart</button>
            </div>
          </div>

          <!-- SUB TOTAL -->
          <div class="col-sm-5">
            <h6>grand total</h6>
            <div class="grand-total">
              <div class="order-detail">
                {% for item in items %}
                  <p>{{ item.product.product_name }} <span>${{ item.get_total }} </span></p>
                {% endfor %}

                <!-- SUB TOTAL -->
                <p class="all-total">TOTAL COST <span> ${{ cart_total }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="small-about padding-top-150 padding-bottom-150">
    <div class="container">
      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>about PAVSHOP</h4>
        <p>
          Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac
          ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia, eros
          vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in
          ex.
        </p>
      </div>

      <!-- Social Icons -->
      <ul class="social_icons">
        <li>
          <a href="#."><i class="icon-social-facebook"></i></a>
        </li>
        <li>
          <a href="#."><i class="icon-social-twitter"></i></a>
        </li>
        <li>
          <a href="#."><i class="icon-social-tumblr"></i></a>
        </li>
        <li>
          <a href="#."><i class="icon-social-youtube"></i></a>
        </li>
        <li>
          <a href="#."><i class="icon-social-dribbble"></i></a>
        </li>
      </ul>
    </div>
  </section>

  {% endblock %}

  {% block js_files %}
    <script src="{% static 'js/basket.js' %}"></script>
    <script>
      let applyBtn = document.querySelector("#apply-btn");
      let discountApiUrl = "http://127.0.0.1:8000/api/cart/discount/";
      let cartDiscountApiUrl = "http://127.0.0.1:8000/api/cart/discount/update";
      let currentLink = window.location.href;
      let updateCartDiscount = document.querySelector("#update-cart-discount");

      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let token = JSON.parse(getToken("token")).token;

      applyBtn.addEventListener("click", function(e){
        e.preventDefault();
        let discountMessage = document.querySelector("#discount-message");
        let discountInput = document.querySelector("#discount-input").value;
        let csrftoken = document.querySelector("[name='csrfmiddlewaretoken'").value;

        discountMessage.style.display = "block";
        let percent = 0;

        fetch(`${discountApiUrl}?discount_code=${discountInput}`)
        .then(response => {
          return response.json();
        })
        .then(data => {
          if(data.discount_percent){
            discountMessage.innerHTML = "";
            discountMessage.innerHTML = `Your code is ${data.discount_percent} percent`;
            percent = data.discount_percent;
          }else{
            discountMessage.innerHTML = "";
            discountMessage.innerHTML = `Your code is invalid`
          }
        })
        .then(cart_discount => {
          updateCartDiscount.addEventListener("click", function(e) {
            if(user != undefined || user != null){
              //userId
              fetch(`${cartDiscountApiUrl}`, {
                method: 'PATCH',
                headers: {
                  "Content-Type": "application/json",
                  "Authorization": `token ${token}`,
                  "X-CSRFToken": csrftoken,
              },
              body: JSON.stringify({discount_percent: parseInt(percent)})
              })
              .then(response => {return response.json()})
              .then(data => {
                console.log(data)
              })
            }
          });
        })
      })
      

    </script>
  {% endblock js_files %}
</div>
